# Regression using sklearn

Author: Carlos J. Costa, ISEG

Purpose: Identify the weight of several features in the home prices in Boston.

**1** import libraries needed: sklearn and pandas

**2** use boston dataset from https://scikit-learn.org/stable/datasets/index.html and convert into two dataframes: X for the features and Y for the target.

**3** Verify 5 lines of the features variables

**4** Veify datatype

**5** Create new features variables with only 2 variables

**6** Create and fit the model: model = LinearRegression().fit(features, target)

**7** obtain intercept

**8** obtain coeficients 

**9** obtain R^2

Comment the following code:

In [1]:
# importar bibliotecas sklearn e pandas
from sklearn.linear_model import LinearRegression
import pandas as pd

In [2]:
#importar os dados para o ficheiro, atribuir esses dados à varivel "boston" e cria uma tabela onde os dados são inseridos
from sklearn.datasets import load_boston
boston =load_boston()
X = pd.DataFrame(boston.data, columns=boston.feature_names)
Y = pd.DataFrame(boston.target)

In [3]:
#mosta as 5 primeiras rows da tabela
X.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [4]:
#mostra o tipo dos elementos dos dados importados por coluna
X.dtypes

CRIM       float64
ZN         float64
INDUS      float64
CHAS       float64
NOX        float64
RM         float64
AGE        float64
DIS        float64
RAD        float64
TAX        float64
PTRATIO    float64
B          float64
LSTAT      float64
dtype: object

In [5]:
#cria outro set de dados atribuido em X1 com os valores das 2 primeiras colunas de X
X1 = X.iloc[:,0:2]

In [11]:
X1.ndim

2

In [6]:
print(X1)

        CRIM    ZN
0    0.00632  18.0
1    0.02731   0.0
2    0.02729   0.0
3    0.03237   0.0
4    0.06905   0.0
..       ...   ...
501  0.06263   0.0
502  0.04527   0.0
503  0.06076   0.0
504  0.10959   0.0
505  0.04741   0.0

[506 rows x 2 columns]

In [7]:
#regressão linear que tem em conta as variaveis X1, e Y e utiliza os dados nelas contidas para analise.
regression = LinearRegression()
model = regression.fit(X1, Y)

In [8]:
#encontrar o ponte em que as variaveis X1 e Y se intersetam
model.intercept_

array([22.48562811])

In [9]:
#coeficientes estimados para problema de regressão linear
model.coef_

array([[-0.35207832,  0.11610909]])

In [10]:
#apresenta o coeficiente de R^2 da hipotese
model.score(X1,Y)

0.23398843834155303

In [ ]:
model.intercept_
model.coef_

In [ ]:
model.coef_