**LabML01(KNN)**

The k-nearest neighbors (KNN) is  easy-to-implement supervised machine learning algorithm that can be used to solve  classification. The KNN algorithm uses 'feature similarity' to predict the values of any new data points. This means that the new point is assigned a value based on how closely it resembles the points in the training set.
k in kNN algorithm represents the number of nearest neighbor points which are voting for the new test data’s class.

K nearest neighbors or KNN Algorithm is a simple algorithm which uses the entire dataset in its training phase. Whenever a prediction is required for an unseen data instance, it searches through the entire training dataset for k-most similar instances and the data with the most similar instance is finally returned as the prediction.

The similarity of the new point and the points in the training set is based on a distance measure. 

Add comments into the following code.

In [1]:
#
import pandas as pd

In [2]:
#
url='https://raw.githubusercontent.com/masterfloss/data/main/jogadores.csv'
df=pd.read_csv(url,sep=";")

In [3]:
df.head()

   Epoca  Idade  Altura  Minutos  Ser Transferido  Valor de Mercado Posicao
0   2015     27     1.9     4050                0              18.0      GK
1   2016     28     1.9     4126                0              14.0      GK
2   2017     29     1.9     3420                0              16.0      GK
3   2018     30     1.9     5100                1              16.0      GK
4   2019     31     1.9     3330                0              20.0      GK

In [5]:
#
from sklearn.preprocessing import StandardScaler
standardizer=StandardScaler()
#X1Stand=standardizer.fit_transform(X1)
scaler=standardizer.fit(X1)

In [20]:
X1

     Idade  Altura  Minutos  Valor de Mercado
0       27    1.90     4050              18.0
1       28    1.90     4126              14.0
2       29    1.90     3420              16.0
3       30    1.90     5100              16.0
4       31    1.90     3330              20.0
..     ...     ...      ...               ...
283     22    1.90      737               2.0
284     20    1.84     1511              15.0
285     20    1.84     2757              20.0
286     20    1.75       93              10.0
287     20    1.80     2866              70.0

[288 rows x 4 columns]

In [6]:
X1Stand=scaler.transform(X1)

In [7]:
X1.head()

   Idade  Altura  Minutos  Valor de Mercado
0     27     1.9     4050              18.0
1     28     1.9     4126              14.0
2     29     1.9     3420              16.0
3     30     1.9     5100              16.0
4     31     1.9     3330              20.0

In [8]:
#
posi=pd.get_dummies(df['Posicao'], prefix='pos')

In [9]:
#
XArray=zip(posi['pos_ATA'],posi['pos_DEF'],posi['pos_GK'],posi['pos_MED'],X1Stand[:,0],X1Stand[:,1],X1Stand[:,2],X1Stand[:,3])

In [10]:
#
features=list(XArray)

In [11]:
#
from sklearn.neighbors import KNeighborsClassifier
#
model = KNeighborsClassifier(n_neighbors=3)
#
model.fit(features,df['Ser Transferido'])

KNeighborsClassifier(n_neighbors=3)

In [12]:
import numpy as np
# Goalkeeper, 30 years old, 1.90 m, 5100 minutes, market Value=16 ?
newdata=np.array([[30,1.90,5100,16]])
newvalues=scaler.transform(newdata)
newvalues

array([[3.0697833 , 1.43018826, 3.02329407, 0.89135565]])

In [13]:
#
list(newvalues)

[array([3.0697833 , 1.43018826, 3.02329407, 0.89135565])]

In [14]:
#
teste=np.concatenate((np.array([[0,0,1,0]]),newvalues), axis=1)

In [15]:
#
teste

array([[0.        , 0.        , 1.        , 0.        , 3.0697833 ,
        1.43018826, 3.02329407, 0.89135565]])

In [16]:
#
predicted = model.predict(teste) 
print(predicted)

[0]

Now let split the sample in training and test...

In [17]:
#
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(features, df['Ser Transferido'], test_size=0.3)

In [21]:
#
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(X_train, y_train)
y_pred = knn.predict(X_test)

In [22]:
#
from sklearn import metrics
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.5402298850574713

In [23]:
from sklearn import metrics
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler